<!Doctype html>
<html>
<head>
    <title>505 Version Not Supported</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="../error.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="error-box">
		<section class="container">
			<div>
			    <article>
			    	<h1>HTTP Version Not Supported!</h1>
	      			<p>The server does not support the HTTP protocol version used in the request.</p>
	      			<p>Error Code: 505</p>
			    </article>
			</div>
		</section>
	</div>
</body>
</html>
