<div class="stage" >
    <div id="overlay" ng-show="vm.showOverlay">
        <div class="card-addfolder">
            <h1 class="header">Add Folder</h1>
            <input type="text" ng-model="folder.name" placeholder="Folder name">
            <a class="folder-add" ng-click="vm.addFolder(folder.name)">Add</a>
        </div>
        <div class="fill-parent" ng-click="vm.clickOverlay()"></div>
    </div>
    <div class="row__center">
        <div class="card-input">
            <input type="text" placeholder="Filter" class="card-input__field" ng-model="vm.search">
            <i class="card-input__clear flaticon-letter-x" id="filter" ng-click="vm.clearSearch()"></i>
        </div>
    </div>
    <div class="row__center">
        <div class="card-folders">
            <div class="folder-bar">
                <h2 class="header-folders">Folders</h2>
                <a class="folder-headerbtn">Export Folder</a>
                <a class="folder-headerbtn" id="delete-folder" ng-click="vm.deleteFolder()">Delete Folder</a>
                <a class="folder-headerbtn" id="import-folder" ng-click="vm.importFolder()">Import Folder</a>
                <input type="file" id="choose-folder">
            </div>
            <div ng-repeat="folder in vm.user.folders" ng-click="vm.selectFolder(folder)" class="wrap-tile-folder">
                <div class="tile-folder" ng-class="{'tile-folder-active' : folder.isActive}">
                    <i class="flaticon-file icon-file"></i>
                    <p class="name">{{folder.name}}</p>
                </div>
            </div>
            <div class="tile-folder__create" ng-click="vm.beginCreateFolder()">
                <i class="flaticon-plus icon-file"></i>
                <p class="name">Create Folder</p>
            </div>
        </div>
    </div>
    <div class="row__center">
        <div class="card-bookmarks">
            <div class="card-bookmarks__header">
                <h2 class="card-bookmarks__header-text col-10">Name</h2>
                <h2 class="card-bookmarks__header-text col-20">Description</h2>
                <h2 class="card-bookmarks__header-text col-10">Tag(s)</h2>
                <h2 class="card-bookmarks__header-text col-10">Last Visit</h2>
                <h2 class="card-bookmarks__header-text col-10">Created</h2>
                <h2 class="card-bookmarks__header-text col-10">Counter</h2>
                <h2 class="card-bookmarks__header-text col-10">URL</h2>
                <h2 class="card-bookmarks__header-text col-20">Actions</h2>
            </div>
            <div class="card-bookmarks__content">
                <table class="table-bookmarks">
                    <tr ng-repeat="bookmark in vm.user.activeFolder.bookmarks | filter : {searchstring : vm.search}">
                        <td class="col-10 card-bookmarks__item-name" ng-click="vm.goToBookmark(bookmark)">{{bookmark.title}}</td>
                        <td class="col-20 card-bookmarks__description">{{bookmark.description}}</td>
                        <td class="col-10">
                            <div class="row row-tag">
                                <a class="card-bookmarks__item-tag" ng-repeat="tag in bookmark.tags">
                                    {{tag}}
                                </a>
                            </div>
                        </td>
                        <td class="col-10">
                            <p class="bookmark-date">{{bookmark.lastVisit}}</p>
                        </td>
                        <td class="col-10">
                            <p class="bookmark-date">{{bookmark.creationDate}}</p>
                        </td>
                        <td class="col-10">
                            <p class="bookmark-counter">{{bookmark.counter}}</p>
                        </td>
                        <td class="col-10 card-bookmarks__item">{{bookmark.url}}</td>
                        <td class="col-20">
                            <div class="container-actions">
                                <i class="icon-star flaticon-star selected"
                                   ng-hide="bookmark.star === '1' || bookmark.star === 1"
                                   ng-click="vm.clickStar(bookmark)"></i>
                                <i class="icon-star__selected flaticon-star"
                                   ng-show="bookmark.star === '1' || bookmark.star === 1"
                                   ng-click="vm.clickStar(bookmark)"></i>
                                <i class="flaticon-letter-x icon-clear" ng-click="vm.deleteBookmark(bookmark)"></i>
                                <a class="exportbtn" ng-hide="vm.user.activeFolder === null"
                                   ng-click="vm.exportFolder()">export</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>