<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Reset Password</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login__content">
   <div class="bar">
      <h1 class="header">BookMarx</h1>
   </div>
   <div class= "verify-card">
      <h1 class="header"> Instructions to Reset your password has been sent to your Email! </h1>
      <div class = "buttons">
         <a class="createaccount" href="/">Back</a>
      </div>
   </div>
</div>
</body>
</html>