<div class="login__content">
    <div class="bar">
        <h1 class="header">BookMarx</h1>
    </div>

    <div class="card-input">
        <div ng-show="vm.modeLogIn" class="inputform">
            <h2 class="header">Log In</h2>
            <div class="wrapper-login-input">
                <input type="text" ng-model="vm.login.username" placeholder="Username">
                <input type="password" ng-model="vm.login.password" placeholder="Password">
            </div>
        </div>
        <div ng-show="vm.modeSignUp" class="inputform">
            <h2 class="header">Sign In</h2>
            <div class="wrapper-signup-input">
                <input type="text" ng-model="vm.signup.username" placeholder="Username">
                <input type="password" ng-model="vm.signup.password1" placeholder="Password">
                <input type="password" ng-model="vm.signup.password2" placeholder="Confirm Password">
                <input type="text" ng-model="vm.signup.firstname" placeholder="First Name">
                <input type="text" ng-model="vm.signup.lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="buttons" ng-show="vm.modeLogIn">
            <a class="submit" ng-click="vm.submitLogin(vm.login)">Submit</a>
            <a class="createaccount" ng-click="vm.goToSignUp()">Create Account?</a>
        </div>
        <div class="buttons" ng-show="vm.modeSignUp">
            <a class="submit" ng-click="vm.submitSignUp(vm.signup)">Submit</a>
            <a class="createaccount" ng-click="vm.goToLogIn()">Cancel</a>
        </div>

        <div ng-show="vm.modeForgotPW" class="inputform">
            <h2 class= "header"> Enter your Email </h2>
            <div class = "wrapper-signup-input">
                <input type="text" ng-model="vm.forgot.username" placeholder="Username">
            </div>
        </div>
        <div class="buttons" ng-show="vm.modeForgotPW">
            <a class="submit" ng-click="vm.submitForgotPW(vm.forgot)">Submit</a>
            <a class="createaccount" ng-click="vm.goToLogIn()">Cancel</a>
        </div>

        <div ng-show="vm.modeForgotConfirm" class="inputform">
            <h2 class="header"> Password Reset </h2>
            <p class="card-text"> Instructions to Reset your password has been sent to your Email! </p>

        </div>
        <div class = "buttons" ng-show="vm.modeForgotConfirm">
            <a class="createaccount" ng-click="vm.goToLogIn()">OK</a>
        </div>

        <div ng-show="vm.modeVerifyEmail" class="inputform">
            <h2 class="header"> Email Verify </h2>
            <p class="card-text"> An Email has been sent to verify your account! </p>
        </div>
        <div class = "buttons" ng-show="vm.modeVerifyEmail">
            <a class="createaccount" ng-click="vm.goToLogIn()">OK</a>
        </div>

    </div>
    <div class = "forgot-pw">
        <p ng-click="vm.goToForgotPW()">Forgot Password?</p>
    </div>

</div>