<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Verify Account</title>
   <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login__content">
   <div class="bar">
      <h1 class="header">BookMarx</h1>
   </div>
   <div class= "verify-card">
      <h1 class="header"> Your account has been verified!</h1>
      <div class = "buttons">
         <a class="createaccount" href="/">Log in</a>
      </div>
   </div>
   </div>
</body>
</html>